.add{
    flex: 3;
    padding: 4rem;
    overflow: hidden;
}

.add__title{
    font-size: 3em;
    line-height: 1em;   
}

.add__form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.add__input{
    max-width: 350px;
    padding: .5rem;
}

.add__btn{
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1em;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: var(--clr-text-blue);
    color: var(--clr-bg);
    border-radius: 0.3rem;
}